# PGA Tour Data Retrieval
This notebook is for working with PGA_Data folder for retreiving revelant PGA Tour data that has been webscraped from [pgatour.com](https://www.pgatour.com/).

In [17]:
# General libraries
import pandas as pd
import numpy as np
from importlib import reload
import difflib

# Self made libraries
import pga_data.scrape
import pga_data.mapping
import pga_data.meta_data

# Reload libraries
reload(pga_data.mapping)
reload(pga_data.scrape)
reload(pga_data.meta_data)

In [4]:
cat = pga_data.scrape.stat(stat='Top 10 Finishes')
df=cat.pull()

print(cat.stat)
df

Top 10 Finishes

    RANK THIS WEEK RANK LAST WEEK        PLAYER NAME  TOP 10  1ST  2ND  3RD
0                1              1           Jon Rahm      12  1.0  1.0  1.0
1                2              2      Jordan Spieth       9  1.0  2.0  2.0
2               T3             T3      Brooks Koepka       8  1.0  2.0  NaN
3               T3             T3  Scottie Scheffler       8  NaN  1.0  1.0
4               T3             T6   Louis Oosthuizen       8  NaN  4.0  2.0
..             ...            ...                ...     ...  ...  ...  ...
171           T124           T122     Thomas Pieters       1  NaN  NaN  NaN
172           T124           T122     Michael Gligic       1  NaN  NaN  NaN
173           T124           T122      Andrew Landry       1  NaN  NaN  NaN
174           T124           T122         Ben Martin       1  NaN  NaN  NaN
175           T124           T122      Byeong Hun An       1  NaN  NaN  NaN

[176 rows x 7 columns]

## Try to Extract Tournament IDs from pgatour.com
Webscrape to perform this task

In [161]:
# Attempt all-time records
maps = [pga_data.mapping.shots_gained_map]
cats = ['All-Time Records']

pga_data.mapping.write_stat_meta(maps, cats)

Retrieving All-Time Records...
  SG: Total
  SG: Tee to Green
  SG: Off the Tee
  SG: Approach the Green
  SG: Around the Green
  SG: Putting
...All-Time Records COMPLETE!

## Modify mapping.py functions for new meta data formats

In [67]:
reload(pga_data.mapping)
stat_meta = pga_data.mapping.stat_meta

stat = ['Longest Putts', 'Three-Putts Per Round']
# stat = 'Longest Putts'

pga_data.mapping.list_stat(stat)

[{'stat name': 'Longest Putts',
  'stat id': '498',
  'stat category': 'Putting',
  'years': [2003,
   2004,
   2005,
   2006,
   2007,
   2008,
   2009,
   2010,
   2011,
   2012,
   2013,
   2014,
   2015,
   2016,
   2017,
   2018,
   2019,
   2020,
   2021],
  'tournament option': True},
 {'stat name': 'Three-Putts Per Round',
  'stat id': '400',
  'stat category': 'Putting',
  'years': [1992,
   1993,
   1994,
   1995,
   1996,
   1997,
   1998,
   1999,
   2000,
   2001,
   2002,
   2003,
   2004,
   2005,
   2006,
   2007,
   2008,
   2009,
   2010,
   2011,
   2012,
   2013,
   2014,
   2015,
   2016,
   2017,
   2018,
   2019,
   2020,
   2021],
  'tournament option': True}]

In [47]:
stat_meta[:2]

[{'stat name': 'SG: Total',
  'stat id': '02675',
  'stat category': 'Shots Gained',
  'years': [2004,
   2005,
   2006,
   2007,
   2008,
   2009,
   2010,
   2011,
   2012,
   2013,
   2014,
   2015,
   2016,
   2017,
   2018,
   2019,
   2020,
   2021],
  'tournament option': True},
 {'stat name': 'SG: Tee to Green',
  'stat id': '02674',
  'stat category': 'Shots Gained',
  'years': [2004,
   2005,
   2006,
   2007,
   2008,
   2009,
   2010,
   2011,
   2012,
   2013,
   2014,
   2015,
   2016,
   2017,
   2018,
   2019,
   2020,
   2021],
  'tournament option': True}]