# PGA Tour Data Retrieval
This notebook is for working with PGA_Data folder for retreiving revelant PGA Tour data that has been webscraped from [pgatour.com](https://www.pgatour.com/).

In [1]:
# General libraries
import pandas as pd
import numpy as np
from importlib import reload
import difflib

# Self made libraries
import pga_data.scrape
import pga_data.mapping

# Reload libraries
reload(pga_data.mapping)
reload(pga_data.scrape)

In [3]:
pga_data.mapping.list_stats_from_keyword('top 10').keys()

dict_keys(['Performance - Final Round Top 10', 'Top 10 Finishes', 'Most Top 10s in a Season', 'Most Top 10s in a Career', 'Most Consecutive Top 10s', 'Oldest To Finish Top 10', 'Last To Be in Last Place After 1st Round and Finish Top 10', 'Oldest To Finish Top 10 in a Major', 'Most Seasons Finishing in Top 10 on Official Money List', 'Most Consecutive Seasons Finishing in Top 10 on Official Money List'])

In [4]:
cat = pga_data.scrape.stat(stat='Top 10 Finishes')
df=cat.pull()

print(cat.stat)
df

Top 10 Finishes

    RANK THIS WEEK RANK LAST WEEK        PLAYER NAME  TOP 10  1ST  2ND  3RD
0                1              1           Jon Rahm      12  1.0  1.0  1.0
1                2              2      Jordan Spieth       9  1.0  2.0  2.0
2               T3             T3      Brooks Koepka       8  1.0  2.0  NaN
3               T3             T3  Scottie Scheffler       8  NaN  1.0  1.0
4               T3             T6   Louis Oosthuizen       8  NaN  4.0  2.0
..             ...            ...                ...     ...  ...  ...  ...
171           T124           T122     Thomas Pieters       1  NaN  NaN  NaN
172           T124           T122     Michael Gligic       1  NaN  NaN  NaN
173           T124           T122      Andrew Landry       1  NaN  NaN  NaN
174           T124           T122         Ben Martin       1  NaN  NaN  NaN
175           T124           T122      Byeong Hun An       1  NaN  NaN  NaN

[176 rows x 7 columns]

## Try to Extract Tournament IDs from pgatour.com
Webscrape to perform this task

In [46]:
from bs4 import BeautifulSoup
import requests
import time

In [44]:
# select class data
select_class = "statistics-details-select statistics-details-select--tournament"

# generate years
years = np.arange(1980, 1982)

# loop thru years to create dict
tourney_map = {}  # initialize the dictionary
for year in years:
    url = f'https://www.pgatour.com/content/pgatour/stats/stat.138.y{year}.html'
    
    # Get page content
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    
    # Create dict
    sub_dict = {opt['value']: opt.text for opt in soup.find(class_=select_class).find_all('option')}
    
    # Add dict to tourney_map
    tourney_map[year] = sub_dict
    
    print(f'{year} added to tourney_map!')
    time.sleep(5)

1980 added to tourney_map!
1981 added to tourney_map!
1982 added to tourney_map!
1983 added to tourney_map!
1984 added to tourney_map!